<div class="page-header">
  <h3>Signup #<%= @signup.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Guest name</dt>
      <dd><%= @signup.guest_name %></dd>

      <dt>Identifier</dt>
      <dd><%= @signup.identifier %></dd>

      <dt>Event</dt>
      <dd><%= @signup.event_id %></dd>

      <dt>User</dt>
      <dd><%= @signup.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/signups" class="btn btn-primary">
        Back
      </a>
      <a href="/signups/<%= @signup.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_signup/<%= @signup.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
